body {
	width: 1150px;
	margin-left: auto;
	margin-right: auto;
	font-family: Apple Chancery;
}

header {
	font-weight: bold;
}
/*TODO: FIX THIS*/
#main-header {
	font-size: 50px;
	color: #7d2614;
}

/*Title*/
#header-name {
	font-size: 42px;
	color: #7d2614;
	padding: 80px; 
	margin: 80px 0px 0px 0px;
	float: center;
}

/*Search*/
#search {
	float: right;
	padding: 10px;
	margin: 15px 0px 0px 0px;
}

/*Banner section*/
#main-image {
	float: left;
	width: 910px;
	height: 150px;
}

#Knight  {
	float: right;
	width: 240px;
	height: 150px;
}

#Pull > header {
	color: #CDDC39;
	font-size: 24px;
	font-weight: bold;
	margin: 170px 0px 10px 90px;
}

#Pulltwo > header {
	color: #CDDC39;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0px 10px 90px;
}

#Give {
	float: left;
	width: 57%;
	margin: 0px 20px 0px 100px;
	font-size: 18px;
}
/**/
#theaternews {
	color: #CDDC39;
	float: right;
	width: 240px;
	margin: 20px 0px 20px 0px;
	font-family: Footlight MT Light;
}

#theaternews > header {
	font-family: Apple Chancery;
}
/*I want to have information about 
the specifics of the play under 
each picture*/
#japsong {
	height: 145px;
	width: 190px;
	border-radius: 30px;
	float: left;
	margin-right: 10px;
	margin: 20px 20px 20px 20px;
}

#japwords {
	margin: 10px 20px 10px 10px;
}

/**/
#couple {
	height: 145px;
	width: 190px;
	border-radius: 30px;
	float: left;
	margin-right: 10px;
	margin: 20px 20px 20px 20px;
}
/**/
#couplewords {
	margin: 10px 20px 10px 10 px;
}

#theaternews > ul {
	list-style: none;
}

#lovebed {
	float: left;
	width: 750px;
	height: 450px;
	border-radius: 75px;
	margin: 30px 20px 10px 10px;
}













